* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 24px;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: rgb(82, 82, 82);
}

div p span {
    font-size: 80;
}

.outside {
    width: 600px;
    height: 600px;
    background-color: tomato;
}
#inside{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: yellow;
/*
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 10px;
    margin-bottom: 80px;*/
margin: 50px 10px 80px 150px;

}